body {
    margin: 0;
    padding: 0;
    text-align: center;
    overflow: hidden;
    background-color: hsl(336, 43%, 52%);
}

canvas {
    display: block;
    width: 100vw;
    height: 90vh; /* اندازه کمتری برای فرم */
}

.login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.login-container input[type="text"],
.login-container input[type="password"]{
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

.login-container input[type="submit"] {
    background-color: hsl(336, 43%, 52%);
    color: #fff;
    cursor: pointer;
}
  /* ریسپانسیو برای موبایل */
  @media only screen and (max-width: 600px) {
    .login-container {
      width: 90%;
    }
  }

  /* ریسپانسیو برای تبلت */
  @media only screen and (min-width: 601px) and (max-width: 1024px) {
    .login-container {
      width: 70%;
    }
  }

  /* ریسپانسیو برای دسکتاپ */
  @media only screen and (min-width: 1025px) {
    .login-container {
      width: 50%;
    }
  }